/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {

  font-family: sans-serif;
  padding: 2rem;

}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0.25em;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.25em 0.75em;
  
}

.top-nav p{
  border-style: dotted;
  padding: 0.7em;
  width:65%;
}

.top-nav a{
  padding: 0.25em;
  margin-left: 1em;
  color: darkgrey;
  font-size: 32px;
  text-decoration: none;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.nav-button {
    font-family: "Palatino", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    text-decoration: none;
    background: linear-gradient(to bottom, #a68676 0%, #210e03 100%); /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-background-clip: text; /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-text-fill-color: transparent; /*https://codepen.io/leocampos/pen/pPwwNR*/
    color: #a68676;

 /*    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
   /* color:#e5bf76;*/
    text-decoration: none;
    border-bottom: 2.5px solid #e5bf76;
    font-weight:bold;
}

.nav-button:hover, .button-nav:focus, .button-nav:active {
   background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
}


/* Styling for the submit button */
.button{
	text-align: center;
    margin: 0 auto;

    padding: 10px;
    width: 100px;
  
    font-size: 16px;
    letter-spacing: 2px;



    text-transform: capitalize;
    background: none;
    font-weight: 600;
    
    border:1.5px solid #e5bf76;
    border-radius: 20px;

    z-index:1;
    transition:background-color 0.25s, color 0.25s;

       color: black;
    font-weight: bold;
    font-style: normal;
    
}
	
.button:hover,.button:focus, .button:active{ 
  opacity: 1;
    text-decoration: none;
    text-decoration: none;
    background-color: #210e03;
    border:1.5px solid #210e03;
    color: #a68676;
}

/* Styling for the in-text link  */
.in-text-link{
color: black;
  text-decoration-color: #a68676;


}

.in-text-link:hover, .in-text-link:focus, .in-text-link:active {
  color: #e5bf76;

}

/* Styling for the Text Input Field */

input[type=text] {
    width: 25%;
    display: block;
    margin: 10px;
    padding: 10px;
}






/* 
  TEXT ELEMENTS -------------------*/

  /* Styling for the headings */

.heading{
  margin: 24px;
  font-family: 'Garamond', serif;
  font-size: 48px;
}

.sub-heading{
    margin: 24px;
    font-family: 'Garamond', serif;
    font-size: 32px;

}

.small-heading{
    margin: 24px;
    font-family: 'Garamond', serif;
    font-size: 24px;
}

/* Styling for the paragraphs */

.paragraph {
  margin: 24px;
  font-size: 18px;
  font-family: 'Times', serif;
}


/* Styling for the bulleted List 
inspired by https://www.w3schools.com/cssref/tryit.asp?filename=trycss_list-style-type_ex*/

.bulletedList li svg {
    display: inline-block;
    fill: white;
    stroke: black;
    transform: rotate(45deg);
}
.bulletedList, .numberList {
  list-style: none;

}

.bulletedList li p, .numberList li{
  display: inline-block;
}

.lineHeight{
  line-height: 1.2rem;
}






/* 
  COMBINED ELEMENTS -------------------*/

/* Styling for the main navigation  */

/*Logo*/
.brand{
   background-color: #F7F5F0;
    width:88%;
    margin:auto;
    height:auto;
    display:flex;
    justify-content: space-between;
}

.brand a img{
    width:17%;
  }

/*Navigation Bar*/
.navbar ul{
    display:flex;
    overflow:hidden;  
    list-style-type:none;
    padding:0;
    width:100%;
}

.navbar ul li{
    padding:.5em 3.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .11em;
    font-size: .9em;
}

.navbar>ul>li>a{
    text-decoration: none;
    background: linear-gradient(to bottom, #a68676 0%, #210e03 100%); /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-background-clip: text; /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-text-fill-color: transparent; /*https://codepen.io/leocampos/pen/pPwwNR*/
    color: #a68676;
}

.selected{
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
    border-bottom: 2.5px solid #e5bf76;
    font-weight:bold;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
}



/* product list 
code inspoired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity*/
.ProductContainer{
  background: lightgrey;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;

}

.search {
  width:150px;
  flex: 1 1 auto;
  margin: 2em;
  padding: 2rem;
  background-color: darkgrey;
  border-style: solid;
  text-align: center;
}


.spacing{
  margin-left:-3.2rem;
  list-style-type: none;
  padding-bottom: 15rem;
}

.grid-wrapper2 {
  height: auto;
  flex: 3 1 auto;
  width: 80%;
}


.product-block {
  display:inline-block;
  margin: 2em;
  height: 350px;
  padding: 2em;
  width: 22%;
  border-style: solid;
  /*background-color: orange;*/
  text-align: center;

}

.image-container{
  position: relative;
}

.image-container .image{
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;

  background-color: white;
  padding: 7em;
}

.AddButton{
  transition: .5s ease;
  text-align: center;
  opacity: 0;
  padding: 0.5em 1em 0.5em 1em;
  position: absolute;
  background-color: orange;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .AddButton {
  opacity: 1;
}

.product-block .discription{
  margin-top: 1em;
  padding: 2em;
}

@media (max-width: 1006px) {
  
  .product-block{
    width: 100%;
    
  }
  

}



/* grid system */

.container .block {
  height: 200px;
  display:flex;
  flex-wrap: wrap; 
  justify-content:space-around;
}


.col {
  margin: 2em;
  padding: 2em;
  background-color: #a68676;
  flex: 1 1 auto;
  
  
}


.container .block:nth-of-type(even) {
  background-color: #333;
}

.container .block:nth-of-type(odd) {
  background-color: #AAA;
}


@media (max-width: 500px) {
  
  .container .block{
    height: auto;
    
  }
  
  .col {
    width: 100%;
    
  }
}

/* color swatches  */

.color p{
  box-sizing: border-box;
  display: inline-block;
  padding: 50px 80px 50px 80px;
  text-align: center;
  width: 19%;
}
.backgroungColor {
 
  color: black;
  background-color: #f0eee8;
}

.highLight{
  color: black;
  background-color: #a68676;
}

.hupertext{
  color: black;
  background-color: #ffa31a;
}

.white{
  color: black;
  background-color: white;
}

.black{
  color: white;
  background-color: black;
}










