
 
*/
*, *::after, *::before{
  box-sizing: border-box;

}

section {
  margin: 0;
}


body {
  font-size: 48px;
  margin: 0;
  font-family: sans-serif;
/*  padding: 2rem;*/

}


p{
    font-size: 16px;
    line-height: 2;
    text-align: left;
    margin-top: 1em;
   /* min-width: 25em;*/
}


div {

  background-color: grey;
}

/*section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}*/








/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.brand{
    width:88%;
    margin:auto;
    height:auto;
    display:flex;
    justify-content: space-between;
}

.navbar ul{
    display:flex;
    overflow:hidden;  
    list-style-type:none;
    padding:0;
    width:100%;
}

.navbar ul li{
    padding:.5rem 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .11rem;
    font-size: .9rem;
}

.navbar>ul>li>a{
    text-decoration: none;
    background: linear-gradient(to bottom, #a68676 0%, #210e03 100%); /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-background-clip: text; /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-text-fill-color: transparent; /*https://codepen.io/leocampos/pen/pPwwNR*/
    color: #a68676;
}

.selected{
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
    border-bottom: 2.5px solid #e5bf76;
    font-weight:bold;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
}

/* 
  video section*/
  .video {
    padding: 25% 0 25%;
    text-align: center;
    width: 100%;
    height: auto;
  }


  /* about section */

  .about {
    background-color: #f0eee8;
    height: auto;
    width: 100%;
  }




 .frame{
  position: relative;

    padding: 2em 15% 2em 15%; 

    background-color: #f0eee8;

  }

  .content {
    padding: 1.2em 20% 8em 20%;

    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: #f0eee8;
  }


  .imagecontent {
    text-align: center;
    padding-top: 4em;
     position: absolute;
     top: 13em;
     left: 6.25%;

    width: 6em;
    height: 5em;
  }


  @media (max-width: 800px) {
  
  .imagecontent {
     position: relative;
     top: 2em;
      left: 0em;
      bottom: 0em;
     
  /*   padding: 1.2em 5% 1em 5%;*/
     /*top: 13em;
     left: 25%;*/
     height: 7em;
     width: 80%;
    
  }

  .content {
    padding: 1.2em 5% 8em 5%;
  }

  .frame{

    padding: 2em 5% 2em 5%; 

  }
  
}

/*update events section*/
  .events {
    display:flex;
    flex-wrap: wrap; 
    justify-content:space-around;
    /*the grey white color that i am gonna use on the website bg color*/
    background-color: #F8F8FF;
    /*width: 100%;*/
    height:auto ;
  }

  .events div {
    margin-top: 2em;
    flex: 1 1 auto;
   /* background-color: #F8F8FF;*/
    width: 20%;

  }


   .title{
    background-color: #F8F8FF;
    padding: 5em 0em 5em 2em;
  }

  .eventimage{
    
    /*padding: 5em;*/
    width: 100%;
    text-align: center;
    /*background-color: grey;*/
  }


  .eventlist {
    margin: 2em 0em 2em 0.25em;
  /*  margin: 2em 0em 2em 0.5em;
    padding: 3.5em 0em 0em 0em;
    text-align: center;*/
    background-color: #F8F8FF;
  }



@media (max-width: 900px) {
  
  .events div{
    width: 100%;
    height: auto;
    
  }
  
}


/* contact */


footer {
  background-color: #f0eee8;
  display: flex;
  flex-wrap: wrap; 
    justify-content:space-around;

}


footer div {
  
  flex: 1 1 auto;

  margin: 80px 50px 80px 50px;
  line-height: 2;
  width: 20%;
}

.text {
  font-size: 14px;
  background-color: #f0eee8;
}







 


