<<<<<<< HEAD
=======
*/
*, *::after, *::before{
  box-sizing: border-box;

}
body {
  /*font-size: 48px;*/
  background-color: #f0eee8;
  margin: auto;
  font-family: sans-serif;
/*  padding: 2rem;*/

}



>>>>>>> master
p{
    font-size: 16px;
    line-height: 2;
    text-align: left;
    margin-top: 1em;
   /* min-width: 25em;*/
}


/*visual bar */

.checkout {
  position: sticky;
  top:0;
  background-color: #f0eee8;
  z-index: 10;

  padding-top: 3em;
  padding-bottom: 2em;
}

.checkoutBar {
	text-align: center;
	
}

.checkoutBar .bar {
  width: 75%;
  display: inline-block;
  height: auto;
}


.checkoutTruck .truck {
	width: 8%;
}

.checkoutTruck {
  margin-left: 11%;
  margin-top: 10em;
}

.brand a img{
  width:17%;
}





/*checkout steps*/

.row{
  
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 40px 80px 40px 80px;
}

.container{

  background-color: #f0eee8;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

input[type=checkbox] {
   margin: 10px 0px 40px 0px;
}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



.col {
flex: 50%;
padding: 0 16px;
}

.col-100 {

  flex: 100%;
  padding-bottom: 16px;
}

select {
  margin-bottom: 20px;
   height: 39px;
   overflow: hidden;
   width: 240px;
}


.btn {
  background-color: #4CAF50;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  padding: 12px 10% 12px 10%;
  margin: 20px 35% 10px 35%;
  border: none;
  /*width: 30%;*/
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
/*  font-size: 17px;*/
  width: 100%;


}

.btn:hover {
  background-color: #45a049;
}


