*/
*, *::after, *::before{
  box-sizing: border-box;

}
body {
  /*font-size: 48px;*/
  background-color: #F7F5F0;
  margin: auto;
  font-family: sans-serif;
/*  padding: 2rem;*/

}



p{
    font-size: 16px;
    line-height: 2;
    text-align: left;
    margin-top: 1em;
   /* min-width: 25em;*/
}


/*visual bar */

.checkout {
  position: sticky;
  top:0;
    background-color: #F7F5F0;
  z-index: 1;

  padding-top: .1em;
  padding-bottom: 2em;
}

.checkoutBar {
	text-align: center;
	
}

.checkoutBar .bar {
  width: 75%;
  display: inline-block;
  height: auto;
}


.checkoutTruck .truck {
	width: 8%;
}

.checkoutTruck {
  margin-left: 11%;
  margin-top: 10em;
}





/*checkout steps*/

.row{
  
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 40px 80px 40px 80px;
}

.container{

  background-color: #f0eee8;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

input[type=checkbox] {
   margin: 10px 0px 40px 0px;
}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



.col {
flex: 50%;
padding: 0 16px;
}

.col-100 {

  flex: 100%;
  padding-bottom: 16px;
}

select {
  margin-bottom: 20px;
   height: 39px;
   overflow: hidden;
   width: 240px;
}


.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  width: auto;
  margin: auto;
  border:3px solid #1F1010; 
  color:#1F1010; 
                    
  background-color:rgba(255, 255, 255, 0.5); 
  font-size:75%; 
  font-weight:bold; 
  padding:5px 10px;


}

.btn:hover {
  background-color: #a68676;
  color: white;
}

.confirmed-information {
  margin: 10em auto;
  width: 500px;
}

table{
  width:70%;
  margin:auto;
  height:auto;
}

table tr th{
  margin:auto;
  min-width:6em;
  max-width: 10em;
  height:auto;
  text-align: center;
}

table tr td{
  margin:1em 0em;
}

table tr .wrapping{
  display:flex;
}

table tr td img{
  border-radius: 10%;
}

table tr td>p{
  flex-wrap: wrap;
  padding:2.5em 0em 0em 2em;
  font-family: "Garamond", serif;
  font-size: 1.2em;
}

td select{
  width:4em;
}

td select{
  margin-top:1.25em;
  border-radius: 20%;
}

td button{
  margin: auto;
  letter-spacing: .1em;
    font-size: .9em;
    text-transform: capitalize;
    background: none;
    font-weight: 600;
    color:#210e03;
    border:1.5px solid #e5bf76;
    border-radius: 20px;
    padding:1.5em .5em;
    transition:background-color 0.25s;
    margin:0 1em;
}

td button:hover, td button:active, td button:focus{
  text-decoration: none;
    background-color: #210e03;
    border:1.5px solid #210e03;
    color: #a68676;
}

.centeringObject{
  margin:auto;
  text-align: center;
}

.spacingSection{
  margin:auto;
  padding:2em 0;
}

td>span{
  font-size:1.2em;
  font-weight:bold;
  padding-right:1em;
}

.rightAlignment{
  text-align: right;
}

