
 
*/
*, *::after, *::before{
  box-sizing: border-box;

}

html {
   scroll-behavior: smooth;
}



body {
  font-family: "Palatino", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 48px;
  margin: auto;
  font-family: sans-serif;
  background-color: #f0eee8;

}

h1 {
   font-family: "Garamond", serif;
   font-weight: 1;
  /* font-size: 48px;*/
    color: #a68676;
}


p{
    font-size: 16px;
    line-height: 2;
    text-align: left;
    margin-top: 1em;
    font-family: "Garamond", serif;
}


div {
  background-color: grey;
}

<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes




.brand{
<<<<<<< Updated upstream
    width:100%;
    margin:auto;

   /* height:0;*/
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}
.brand img {
  position: fixed;
  top: 0;
  width: 3em;
  height: auto;
  margin-left: 1em;
  z-index: 10;
  transition: 1s;
=======
    /*position: sticky;
    top: 0;*/
    width:88%;
    margin:auto;
    height:0;

    display: flex;
    justify-content: space-between;
   
    
}
.brand img {
  position: absolute;
  top: 2em;
  z-index: 3;
>>>>>>> Stashed changes
}

.navbar ul{
    margin: 2em 0 0 0 ;
    display:flex;
    overflow:hidden;  
    list-style-type:none;
<<<<<<< Updated upstream
    
    font-family: "Garamond", serif;
=======
    position: sticky;
>>>>>>> Stashed changes
    top:0.5em;
    z-index: 2;
    padding:0;
    width:100%;
}

.navbar ul li{
    padding:.5rem 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .11rem;
    font-size: .9rem;
}

.navbar>ul>li>a{
    text-decoration: none;
    background: linear-gradient(to bottom, #a68676 0%, #210e03 100%); /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-background-clip: text; /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-text-fill-color: transparent; /*https://codepen.io/leocampos/pen/pPwwNR*/
    color: #a68676;
}

.selected{
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
    border-bottom: 2.5px solid #e5bf76;
    font-weight:bold;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
}


/* 
  video section*/


  .video video {
    position: relative;
    top: -2.3em;
    width: 100%;
    height: auto;
    z-index: -1;

  }


  /* about section */

  .about {

    background-color: #f0eee8;
    height: auto;
    width: 100%;
  }




 .frame{
  position: relative;
    padding: 2em 20% 2em 20%; 

    background-color: #f0eee8;

  }

  .content {
    padding: 1.2em 20% 5em 20%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: #f0eee8;
  }

  .secondpart {

    padding-left: 10em;
  }

  .content h1{
     border-bottom: 1px solid;
    padding-bottom: 5px;
  }


  .imagecontent {
     position: absolute;
     top: 9.8em;
     left: 11%;
      width: 10em;
      height: auto;
  }


  @media (max-width: 1500px) {
  
  .imagecontent {
     position: relative;
     top: 1em;
      left: 0em;
      bottom: 0em;
    
     height: auto;
     width: 80%;
    
  }
  .secondpart {

    padding-left: 0em;
  }

  .content {
    padding: 1.2em 5% 1em 5%;
  }


  
}

 @media (max-width: 800px) {


  .frame{

    padding: 2em 5% 2em 5%; 

  }

  }

/*update events section*/
  .events {
    padding: 0 11% 0 11%;
    display:flex;
    flex-wrap: wrap; 

    justify-content:space-around;
    /*the grey white color that i am gonna use on the website bg color*/
    background-color: #F8F8FF;
    height:auto ;
  }

  .events div {
    /*padding: 2em 0em 2em 1em;*/

    flex: 1 1 auto;

    width: 30%;
    min-width: 200px;

  }


   .title{
    font-size: 40px;
    text-align: center;
    background-color: #F8F8FF;
    padding: 1em 0em 1em 0em;
  }

  .eventimage{
    
    /*padding: 5em;*/
    width: 100%;
    height: auto;
    
    /*background-color: grey;*/
  }


  .eventlist {
    margin: 2em 0.5em 2em 0.25em;
    background-color: #F8F8FF;
  }


@media (max-width: 1200px) {

    .events {
       padding: 0 1em 0 1em;
   /* margin: 1em 2em 0em 2em;*/
    
  }

/*  .title{
    margin-left: -5em;
  }

 .events .firstimg {
    margin-top: 2em;
  }*/

}






@media (max-width: 900px) {
  
  .events div{
    width: 100%;
    height: auto;
    
  }

  .eventimage{ 
    width: 100%;
    height: auto;

  }
  
}


/* contact */


footer {
  background-color: #f0eee8;
  display: flex;
  flex-wrap: wrap; 
  justify-content:space-around;
  padding-left: 11%;
  padding-right: 11%: 


}


footer div {
  padding-top: 2em;
  flex: 1 1 auto;
  /*margin: 80px 50px 80px 50px;*/
  line-height: 2;
  width: 30%;
  min-width: 200px;
  height: auto;
  background-color: #f0eee8;
}

.text span {
   color: #a68676;
}

.logo {
 /* padding-top: 1em;*/
  width: 4em;
  height: auto;
}

/*.text p{
  font-size: 14px;
  padding-top: 5em;

}*/


@media (max-width: 700px) {
  
  .imgContainer{
    order: 1;
    
  }

  footer div {
     margin: 50px 50px 50px 50px;
  }
  
}







 


